/*.container {
}*/

.app-body {
  display: flex;
  width: 70%;
  margin: 50px 15vw;
}

.index-container {
  width: 60px;
}

.content-container {
  width: 100%;
  height: 100%;
  z-index: 2;
}

.header-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #333;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-decoration: none;
}

.header-icon {
  color: #eee;
}