.header-container {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.section {
  flex: 1;
  text-align: center;
}

/*.left {
  background: lightgreen;
}

.right {
  background: lightpink;
}*/

.home-button {
  display: flex;
  justify-content: space-around;
  width: 100%;
}