.header-container {
  height: 50px;
  background-color: skyblue;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

  .section {
    width: 40%;
    text-align: center;
  }

    .left {
      background: lightgreen;
    }

    .right {
      background: lightpink;
    }
