body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #eee;
}

.zzz {
  /*border: 1px solid red;*/
}

.page-title {
  font-size: 35px;
  margin-left: 10%;
  font-weight: bold;
}

.page-content {
  height: calc(100vh - 300px);
  min-height: 350px;
  overflow: scroll;
  background: white;
  padding: 50px;
}
